body {
  background: transparent;
  color: white;
  text-align: center;
  font-family: 'Valorant', sans-serif;
  overflow: hidden;
}

.wheel-container {
  position: relative;
  display: inline-block;
}

#wheelCanvas {
  border-radius: 50%;
  border: 4px solid #ff4655;
}

#spinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff4655;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
